.flip-card {
    width: 320px;
    height: 440px;
    perspective: 1500px;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  
  .art-title {
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2em;
    margin: 0;
  }
  
  .artist-tag {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    transform-style: preserve-3d;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);
  }
  
  .flip-card-front {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .flip-card-back {
    background: #1c1c1c;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .back-content {
      padding: 20px;
      text-align: center;
  
      h2 {
        margin-bottom: 10px;
      }
    }
  }
  

  .art-actions {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 2rem;
  
    .icon {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      color: #aaa;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: scale(1.1);
      }
  
      svg {
        transition: fill 0.2s ease;
      }
    }
  }
  